.ripple {
  transform-style: flat;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.ripple::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 0;
  width: 0;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  content: '';
}
.ripple:active {
  -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.ripple:active::before {
  -webkit-animation-name: ripple;
  -moz-animation-name: ripple;
  -ms-animation-name: ripple;
  -o-animation-name: ripple;
  animation-name: ripple;
}
@-webkit-keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    padding-top: 150%;
    width: 150%;
    opacity: 0;
  }
}
@-moz-keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    padding-top: 150%;
    width: 150%;
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    padding-top: 150%;
    width: 150%;
    opacity: 0;
  }
}
